<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roomio.miaosha.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.roomio.miaosha.domain.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_title" property="goodsTitle" jdbcType="VARCHAR" />
    <result column="goods_img" property="goodsImg" jdbcType="VARCHAR" />
    <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
    <result column="good_stock" property="goodStock" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="GoodsVoResultMap" type="com.roomio.miaosha.vo.GoodsVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_title" property="goodsTitle" jdbcType="VARCHAR" />
    <result column="goods_img" property="goodsImg" jdbcType="VARCHAR" />
    <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
    <result column="good_stock" property="goodStock" jdbcType="INTEGER" />
    <result column="miaosha_price" property="miaoshaPrice" jdbcType="DECIMAL" />
    <result column="stock_count" property="stockCount" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.roomio.miaosha.domain.Goods" extends="BaseResultMap" >
    <result column="goods_detail" property="goodsDetail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="GoodsVoResultMapWithBLOBs" type="com.roomio.miaosha.vo.GoodsVo" extends="GoodsVoResultMap" >
    <result column="goods_detail" property="goodsDetail" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="GoodsVoBase_Column_List" >
    g.id, g.goods_name, g.goods_title, g.goods_img, g.goods_price, g.good_stock,mg.miaosha_price,mg.stock_count,mg.end_date,mg.start_date
  </sql>
  <sql id="Base_Column_List" >
    id, goods_name, goods_title, goods_img, goods_price, good_stock
  </sql>
  <sql id="Blob_Column_List" >
    goods_detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getGoodsVoList" resultMap="GoodsVoResultMapWithBLOBs">
    select
    <include refid="GoodsVoBase_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from miaosha_goods mg LEFT JOIN goods g on mg.goods_id=g.id
  </select>
  <select id="getGoodVoById"  resultMap="GoodsVoResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="GoodsVoBase_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from miaosha_goods mg LEFT JOIN goods g on mg.goods_id=g.id
    where g.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.roomio.miaosha.domain.Goods" >
    insert into goods (id, goods_name, goods_title, 
      goods_img, goods_price, good_stock, 
      goods_detail)
    values (#{id,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsTitle,jdbcType=VARCHAR}, 
      #{goodsImg,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=DECIMAL}, #{goodStock,jdbcType=INTEGER}, 
      #{goodsDetail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.roomio.miaosha.domain.Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsTitle != null" >
        goods_title,
      </if>
      <if test="goodsImg != null" >
        goods_img,
      </if>
      <if test="goodsPrice != null" >
        goods_price,
      </if>
      <if test="goodStock != null" >
        good_stock,
      </if>
      <if test="goodsDetail != null" >
        goods_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsTitle != null" >
        #{goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="goodsImg != null" >
        #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodStock != null" >
        #{goodStock,jdbcType=INTEGER},
      </if>
      <if test="goodsDetail != null" >
        #{goodsDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.roomio.miaosha.domain.Goods" >
    update goods
    <set >
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsTitle != null" >
        goods_title = #{goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="goodsImg != null" >
        goods_img = #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodStock != null" >
        good_stock = #{goodStock,jdbcType=INTEGER},
      </if>
      <if test="goodsDetail != null" >
        goods_detail = #{goodsDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.roomio.miaosha.domain.Goods" >
    update goods
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_title = #{goodsTitle,jdbcType=VARCHAR},
      goods_img = #{goodsImg,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      good_stock = #{goodStock,jdbcType=INTEGER},
      goods_detail = #{goodsDetail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.roomio.miaosha.domain.Goods" >
    update goods
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_title = #{goodsTitle,jdbcType=VARCHAR},
      goods_img = #{goodsImg,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      good_stock = #{goodStock,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>